.google{
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.637),rgba(0, 0, 0, 0.185)), url("/images/google_logo_hq.png");
    background-repeat: no-repeat;
    background-position-x: center;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
}
.facebook{
    display: flex;
    background-image: linear-gradient(rgba(26, 91, 254, 0.641),rgba(0, 0, 0, 0.185)), url("/images/Facebook-logo-PSD.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    margin: 15px;
    border-radius: 10px;
}
.amazon{
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.515),rgba(76, 76, 49, 0.538)), url("/images/amazon-banner.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    margin: 15px;
    border-radius: 10px;
}
p{
    margin-top: 55px;
    margin-left: auto;
    margin-right: 20px;
    font-size: 30px;
    font-weight: 800;
    color: white;
    text-align: right;
}
#end{
    color: black;
    font-size: large;
    position: relative;
}
#end::after{
    content: '';
    position: absolute;
    background: black;
    width: 0px;
    height: 2px;
    bottom: 0;
    right: 0;
    transition: 0.3s ease;
}
#end:hover::after{
     width: 140px; 
}